@model ProductListViewModel

@{
    var popularClass = Model.Products.Count>2? "popular":"";
}

@section Categories
{
    @await Component.InvokeAsync("Categories")
}

@if(Model.Products.Count() == 0)
{
    @await Html.PartialAsync("_noproduct")
}

else
{
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-sm-12 col-md-4 col-lg-3">

                @await Html.PartialAsync("_product",product)

            </div>
        }
    </div>
}