<header>

    <div class="jumbotron jumbotron-fluid">

        <div class="container">

            <h1 class="display-4"><i class="fab fa-shopify"></i> Shoplication</h1>

            <p class="lead">
                Shoplication includes too many types of products.We are appeal 7 to 70. We are here electonic, kitchen, garden, home, education 
                and many more categories in order. Shoplication have not you discover us?
            </p>

        </div>

    </div>

</header>