

<div class="card mt-3">

    <div class="card-header">
        <h5>Search</h5>
    </div>

    <div class="card-body">

        <form action="/search" class="form-inline">
            
            <div class="form-group">

                <input name="q" type="text" class="form-control mr-2" placeholder="Search">

            </div>

            <button class="btn btn-outline mr-0 btn-green" type="submit">Find</button>
            
        </form>

    </div>

</div>