@model List<Category>

<div class="list-group">

    <a href="/products" class="list-group-item list-group-item-action">All Categories</a>

    @foreach (var item in Model)
    {
        <a id="category-box" asp-controller="Shop" asp-action="List" asp-route-category="@item.Url"
        class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == item.Url.ToString()?"active" : "")">@item.Name</a>
    }

</div>